<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="uap rescap desktop com">

  <Identity
    Name="55638AdamKuera.SunsetDimmer"
    Publisher="CN=061409C3-2C13-40D0-ABA4-0BD45F9C9097"
    Version="0.1.42.0" />

  <Properties>
    <DisplayName>Sunset Dimmer</DisplayName>
    <PublisherDisplayName>Adam Kučera</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Sunset Dimmer"
        Description="Packaging"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
		<Extensions>
			<desktop:Extension
			  Category="windows.startupTask"
			  Executable="NighttimeDisplayDimmer\NighttimeDisplayDimmer.exe"
			  EntryPoint="Windows.FullTrustApplication">
				<desktop:StartupTask
				  TaskId="NighttimeDisplayDimmer"
				  Enabled="true"
				  DisplayName="Sunset Dimmer" />
			</desktop:Extension>
			<!--Specify which CLSID to activate when toast clicked-->
			<desktop:Extension Category="windows.toastNotificationActivation">
				<desktop:ToastNotificationActivation ToastActivatorCLSID="f1b7735e-91e0-4ace-9952-4e36256cc639" />
			</desktop:Extension>

			<!--Register COM CLSID LocalServer32 registry key-->
			<com:Extension Category="windows.comServer">
				<com:ComServer>
					<com:ExeServer Executable="NighttimeDisplayDimmer\NighttimeDisplayDimmer.exe" Arguments="-ToastActivated" DisplayName="Sunset Dimmer">
						<com:Class Id="f1b7735e-91e0-4ace-9952-4e36256cc639" DisplayName="Nighttime Display Dimmer"/>
					</com:ExeServer>
				</com:ComServer>
			</com:Extension>
		</Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
